@font-face {  
  font-family: 'cute'; 
  src: url('./cute.ttf');  
  font-weight: normal;  
  font-style: normal;  
  color: red;
}


@font-face {  
  font-family: 'anger'; 
  src: url('./anger.ttf');  
  font-weight: normal;  
  font-style: normal;  
}

@font-face {  
  font-family: 'day'; 
  src: url('./day.ttf');  
  font-weight: normal;  
  font-style: normal;  
}

@font-face {  
  font-family: 'infe'; 
  src: url('./infe.ttf');  
  font-weight: normal;  
  font-style: normal;  
}

@font-face {  
  font-family: 'wra'; 
  src: url('./wra.ttf');  
  font-weight: normal;  
  font-style: normal;  
}
@font-face {  
  font-family: 'days'; 
  src: url('./Days.ttf');  
  font-weight: normal;  
  font-style: normal;  
}


